@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kid Finder</h1>
    <p class="lead">Welcome to Christ Temple Church's Kid Finder! Click on a button at the top to get started!</p>
</div>
