@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="http://www.ctcwv.com/wp-content/uploads/2016/01/ctc-114.png" alt="Christ Temple logo" style="width:125px;height:125px;">

    <h2>Kid Finder</h2>

    <p>Welcome to the Kid Finder Application! Select a menu option from the top to get started!</p>
</div>
