
@model IEnumerable<Chirst_Temple_Kid_Finder.Models.CodeTable>

@{
    ViewBag.Title = "Check-In";
}

<h2>Check-In</h2>

@using (Html.BeginForm("CheckIn", "Teacher", FormMethod.Post))
{
    @Html.Label("Room Number")
    @Html.TextBox("roomNumber", null, htmlAttributes: new { @class = "form-control" })
    <br />
    @Html.Label("Child Code")
    @Html.TextBox("childCode", null, htmlAttributes: new { @class = "form-control" })
    <br />
    <input type="submit" value="Check in" class="btn btn-default">
}



