@model IEnumerable<Chirst_Temple_Kid_Finder.Models.Preset>

@{ 
    ViewBag.Title = "Teacher Home";
}

<br />

<p>
    @Html.ActionLink("Check In", "Edit","CodeTables", null, new { @class = "btn btn-default" })
</p>

