@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>Kid Finder is an application created for Chirst Temple Church in order for parents to easily track their children while in the building. Teachers check students into the classroom after taking attendance, and parents can enter their child's code on the site to see where their child is at that time! Get started by talking to a pastor or any church leader to get an account set up!</p>