@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Kid Finder is an application created for Chirst Temple Church in order for parents to easily track their children while in the building. Teachers check students into the classroom after taking attendance, and parents can enter their child's code on the site to see where their child is at that time! Get started by registering your account by using your child code given to you at the church.</p>