@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    2400 Johnstown Rd<br />
    Huntington, WV 25701<br />
    Phone: 304-525-2400<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:info@ctcwv.com">info@ctcwv.com</a><br />
</address>